#lap-cookies-banner {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 1000;
    left: 0;
    text-align: center;
    border-top: 1px solid #023452;
    width: 100%;
    display: none;

    /* hidden by default */
}

#lap-cookies-banner .banner-intro {
    width: 40%;
    position: relative;
    left: 30%;
    text-align: left;
}

#lap-cookies-banner .banner-img {
    width: 90px;
    padding-top: 0;
    height: 90px;
    position: absolute;
    padding-left: 10px;
}

#lap-cookies-banner .banner-title {
    padding-left: 110px;
}

#lap-cookies-banner .banner-text {
    padding-left: 110px;
    padding-bottom: 1em;
}

#lap-cookies-banner .banner-buttons {
    padding-top: 5px;
    height: 20px;
    margin-bottom: 10px;
}

#lap-cookies-banner .close-button {
    position: absolute;
    left: 100%;
}

#lap-cookies-banner .banner-buttons .lap-accept,
#lap-cookies-banner .banner-buttons .lap-refuse,
#lap-cookies-banner .banner-buttons .lap-cookies-more,
#lap-cookies-banner .banner-buttons .btn.active {
    border: 1px solid #023452;
    font-weight: bold;
    background-color: #023452;
    color: #ffffff !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#lap-cookies-banner .banner-buttons .lap-accept:hover,
#lap-cookies-banner .banner-buttons .lap-refuse:hover,
#lap-cookies-banner .banner-buttons .lap-cookies-more:hover,
#lap-cookies-banner .banner-buttons .btn.selected {
    background: white;
    color: #023452 !important;
    border: 1px solid #023452;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
}

#lap-cookies-banner .btn {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    padding: 3px 10px;
    font-size: 9pt;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#lap-cookies-banner .banner-checkboxes {
    font-size: 80%;
    margin-top: 1em;
}

#lap-cookies-banner .checkbox-label {
    margin-left: 0.3em;
    margin-right: 1.5em;
    top: -0.2em;
    position: relative;
}

@media(max-width: 500px) {
    #lap-cookies-banner {
        position: fixed;
        bottom: 0;
        background-color: #fff;
        padding-top: 1em;
        padding-bottom: 1em;
        z-index: 1000;
        left: 0;
        text-align: center;
        border-top: 1px solid #023452;
        width: 100%;
        display: none;
        height: 280px;
        overflow: auto;
        /* hidden by default */
    }

    #lap-cookies-banner .banner-intro {
        width: 60%;
        position: relative;
        left: 20%;
        text-align: left;
    }
}

@media(max-width: 1100px) {
    #lap-cookies-banner .banner-intro {
        width: 90%;
        position: relative;
        left: 5%;
        text-align: left;
    }
    #lap-cookies-banner .banner-buttons {
        padding-top: 5px;
        height: 60px;
        margin-bottom: 10px;
    }
}

@media(max-width: 1600px) {
    #lap-cookies-banner .banner-intro {
        width: 60%;
        position: relative;
        left: 20%;
        text-align: left;
    }
}

/* ultra-wide screen */
@media(min-width: 2400px) {
    #lap-cookies-banner .banner-intro {
        position: relative;
        text-align: left;
        max-width: 800px;
        left: 35%;
    }
}
