<footer id="site-footer-primary">
    <div id="site-footer-primary-wrapper" class="margin-wrapper flex">
        <div>
            <h3>
              <a href="{{ '/about-node/' | relative_url }}">About the Node</a>
            </h3>
            <ul>
                <li><a href="{{ '/about-node/team' | relative_url }}">Our team</a></li>
                <li><a href="{{ '/about-node/collaborations' | relative_url }}">Collaborations</a></li>
                <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
                <li><a href="{{ '/about-node/funding-and-governance' | relative_url }}">Funding and governance</a></li>
                <li><a href="{{ '/about-node/vacancies' | relative_url }}">Vacancies</a></li>
                <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
            </ul>
        </div>
        <div>
            <h3>
              <a href="{{ '/services/' | relative_url }}">Services</a>
            </h3>
            <ul>
                <li><a href="{{ '/sustainability-data/' | relative_url }}">Sustainability of data</a></li>
                <li><a href="{{ '/sustainability-tools/' | relative_url }}">Sustainability of tools</a></li>
                <li><a href="{{ '/gdpr-activities/' | relative_url }}">GDPR activities</a></li>
                <li><a href="{{ '/gdpr-activities/' | relative_url }}">DAISY</a></li>
            </ul>
        </div>
        <div>
            <h3>
              <a href="{{ '/events/' | relative_url }}">Events</a>
            </h3>
            <ul>
                <li><a href="{{ '/events/workshops_and_courses' | relative_url }}">Workshops and courses</a></li>
                <li><a href="{{ '/events/meetings_and_conferences' | relative_url }}">Meetings and conferences</a></li>
            </ul>
        </div>
        <div>
            <h3>
                <a href="{{ '/privacy/' | relative_url }}">Privacy</a>
            </h3>

            <ul>
                <li><a href="{{ '/privacy/' | relative_url }}">Privacy policy</a></li>
                <li><a href="{{ '/privacy/cookies' | relative_url }}">Cookies</a></li>
                {% if site.siteID > 0 %}
                {%- include policy.html -%}
                {% endif %}
                <li><a href="{{ '/privacy/terms_of_use' | relative_url }}">Terms of use</a></li>
            </ul>
        </div>
        <div>
            <a href="http://www.elixir-europe.org" title="ELIXIR Europe's web site">
                <img src="{{ 'assets/ELIXIR_EU.png' | relative_url }}" title="ELIXIR Europe logo" alt="ELIXIR Europe logo" width="150px" class="site-footer-primary-logo" />
            </a>
        </div>
    </div>
</footer>

<footer id="site-footer-secondary">
    <div id="site-footer-secondary-wrapper" class="margin-wrapper flex">
        <div id="copyright">
            <ul>
                <li>{{- site.footer-copyright | escape -}} &nbsp;{{ 'now' | date: "%Y" }}</li>
            </ul>
        </div>

        <div id="address">
            {{- site.footer-text | escape -}}
        </div>
    </div>
</footer>

{% if site.siteID > 0 %}
{%- include gdpr-banner.html -%}
{% endif %}
