<div id="lap-cookies-banner">
    <div class="banner-intro">
        <div class="close-button">
            <a class="lap-refuse"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="banner-img">
            <img src="{{ site.logo_policy }}" type="image/svg+xml" />
        </div>
        <div class="banner-title">{{ site.banner_title }}</div>
        <div class="banner-text">{{ site.banner_text }}</div>
    </div>

    <div class="banner-buttons">
        <a class="btn lap-accept">{{ site.banner_accept_text }}</a>
        <a class="btn lap-refuse">{{ site.banner_refuse_text }}</a>
        <a class="btn lap-cookies-more" href="{{ site.path_policy | relative_url }}">{{ site.banner_more_text }}</a>
    </div>
</div>