---
layout: default
---

<article class="body-wrapper margin-wrapper">

    <div id="left-column" class="hide-in-lowres"></div>

    <div class="narrower-article-div">
        <header>
            <h1>
                {{ page.title | escape }}
            </h1>
        </header>

        <div class="index-flex">
          {% if page.introduction %}
            <div class="index-gray-box">
              {{ page.introduction }}
            </div>
          {% endif %}

          <div class="index-photo">
            <picture>
              <source media="(min-width: 200px)" srcset="{{ '/assets/cover_big.webp' | relative_url }}" type="image/webp" alt="Elixir Luxembourg" />
              <source media="(max-width: 200px)" srcset="{{ '/assets/cover_small.webp' | relative_url }}" type="image/webp" alt="Elixir Luxembourg" />

              <source media="(min-width: 200px)" srcset="{{ '/assets/cover_big.jpg' | relative_url }}" type="image/jpeg" alt="Elixir Luxembourg" />
              <source media="(max-width: 200px)" srcset="{{ '/assets/cover_small.jpg' | relative_url }}" type="image/jpeg" alt="Elixir Luxembourg" />
              <img src="{{ '/assets/cover_small.jpg' | relative_url }}" type="image/jpeg" alt="Elixir Luxembourg" />
            </picture>
          </div>
        </div>

        {{ content | markdownify }}

        <div class="index-flex">
          <a href="{{ '/events/' | relative_url }}">
            <div class="index-box">
              <img src="{{ '/assets/buttons/index_events.jpg' | relative_url }}" alt="Events image" />
              <div class="index-box-caption">
                Events
              </div>
            </div>
          </a>

          <a href="{{ '/about-node/vacancies' | relative_url }}">
            <div class="index-box">
              <img src="{{ '/assets/buttons/index_jobs.jpg' | relative_url }}" alt="Job vacancies image" />
              <div class="index-box-caption">
                Job vacancies
              </div>
            </div>
          </a>

          <a href="https://webdav-r3lab.uni.lu/public/elixir/website/pdf/ELIXIR-LU_Flyer_VF.pdf">
            <div class="index-box">
              <img src="{{ '/assets/buttons/index_flyer.jpg' | relative_url }}" alt="Flyer image" />
              <div class="index-box-caption">
                Download flyer
              </div>
            </div>
          </a>
        </div>
    </div>

    <div id="right-column">
      <a class="twitter-timeline" data-tweet-limit="3" data-lang="en" data-width="380" data-height="800" data-dnt="true" data-theme="light" data-link-color="#B57B00" href="https://twitter.com/elixir_lu?ref_src=twsrc%5Etfw">Tweets by elixir_lu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      {% if paginator.posts %}
      <h2>Our news</h2>

      {% for post in paginator.posts %}
      <div class="post">
        <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>        

        <div class="content">
          {{ post.content | strip_html | normalize_whitespace | truncate: 220 }} <a href="{{ post.url | relative_url }}">(read more)</a>
        </div>

        <span class="post-date">Published on: {{ post.date | date: '%B %d, %Y' }}</span>
      </div>
      {% endfor %}

      <h3><a href="{{ '/news/' | relative_url }}">See more news...</a></h3>
      {% endif %}
    </div>
</article>
