---
layout: default
---

<article class="body-wrapper margin-wrapper">

    <div id="left-column">
        <h2>{{ page.section }}</h2>
        <ul>
        {% for link in page.pages %}
        <li>
          <a href="{{ link.href | relative_url }}"
            class="{% if link.active %}active {% endif %}{% if link.smaller %}smaller {% endif %}">
            {{ link.title }}
          </a>
        </li>
        {% endfor %}
        </ul>
    </div>

    <div id="right-column" {% if page.wider %}class="right-column-wider"{% endif %}>
        <header>
            <h1 {% if page.section contains "Events" %}class="no-caps"{% endif %} data-section="{{ page.section }}">
                {{ page.title | escape }}
                {% if page.date %}<small>({{ page.date | date: '%F' }})</small>{% endif %}
            </h1>
        </header>
        {% if page.image %}
            <img class="event-small-image" src="{{ page.image | relative_url }}" />
        {% endif %}

        {{ content }}
    </div>
</article>
